<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>


    <!-- OWN CSS -->
    <link rel="stylesheet" href="aboutstyle.css">
    <link rel="stylesheet" href="styleshoppingcart.css">

    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 300px;
        /* The height is 400 pixels */
        width: 300px;
        /* The width is the width of the web page */
      }
    </style>

  </head>

  <body>
    <a href='/'><button class="cart-button" style="font-size: 20px; padding: 10px 15px 10px 15px;">Home</button></a>
    <div class="small-container about-container">
      <h2 class = "about-us"><b>About Us</b></h2>
      <br>
      <hr>
        <div class="row">

          <br><br>
          <hr>
          <hr>
        </div>

      <div class="row">
          <div class="col-2">
              <p>Welcome to Baymart, the website for the San Jose-based OFS supermarket. We aspire to be your go-to place for groceries! 
 We're committed to giving you the finest possible service and products, with a focus on timely delivery, your satisfaction, and the welfare of society.</p>
                <br>
              <p>Founded in 2023, We are a tiny firm that specializes in delivering groceries to your home while upholding the highest standards of quality and freshness.
 By providing you with the most excellent services and fiercely competitive prices, we work to end the monopoly held by a select few grocery store behemoths.
              </p>
                <br>
              <p>We sincerely hope you love our offerings as much as we do! Do not hesitate to contact us if you have any inquiries or suggestions.</p>
                <br>
              <p>Sincerely,</p>
              <p><em>Baymart Team</em></p>
          </div>

          <div class ="col-2">
              <p><b> &nbsp;  &nbsp; &nbsp;   Our location:</b></p>
              <br>
              <div id="map" style="display: inline;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.352557602827!2d-121.88683032559346!3d37.33416123742126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fccb97b237d25%3A0x1c4ff902fff83d4e!2sWashington%20Square%20Hall!5e0!3m2!1sen!2sus!4v1683255134661!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
          </div>


      </div>
    </div>

  </body>
</html>