<link rel="stylesheet" type="text/css" href="styleshoppingcart.css">
<a href="/"><button class="cart-button">Home</button></a>
<br>
<img src="payment.png" style="display: block; margin-left: auto; margin-right: auto">
