<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>BayMart Customer Registration</h1>
    <div class="login">
    <form id="login" method="POST" action="/register">
        <% if (messages.error) { %>
            <label style="color: red;"><b><%= messages.error %></b></label>
            <br>
        <% } %>


        <div style="display: inline-block;">
            <label><b>First Name</b></label>
            <br>
            <input type="text" name="firstname" class="name" placeholder="First Name" required>
        </div>
        <div style="display: inline-block;">
            <label><b>Last Name</b></label>
            <br>
            <input type="text" name="lastname" class="name" placeholder="Last Name" required>
        </div>
        <br><br>
        

        <label><b>Email
        </b>
        </label>
        <input type="text" name="email" id="Uname" placeholder="Email" required>
        <br><br>

        <label><b>
        Password</b>
        </label>
        <input type="password" name="password" id="Uname" placeholder="Password" required>
        <br><br>

        <label ><b>Mobile Number</b></label>
        <br>
        <label ><b>(Format: 000-000-0000)</b></label>
        <input type="tel" id="uname", name="mobilenum" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="000-000-0000" required>
        <br><br>

        <input type="submit" name="log" id="log" value="Register here!">
        <a href="/login" id="register"><p>Already have an account? Log in here.</p></a>
    </form>
</div>
</body>
</html>
