<head>
    <title>BayMart Registration page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>BayMart Customer Registration</h1>
    <h1>Register Here!!</h1>
    <div class="login">
    <form id="login" method="get" action="login.php">

      <label><b>Are you ready for a life change experience?
      </b>
      </label>
      <br><br>

      <label><b>Please input your information!
      </b>
      </label>
      <br><br>

        <label><b>Name
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Name">
        <br><br>

        <label><b>User
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="User">
        <br><br>

        <label><b>Email
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Email">
        <br><br>

        <label><b>
        Password</b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Password">
        <br><br>


        <input type="button" name="log" id="log" value="Register here!">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
    </form>
</div>
</body>
