<h1>Register</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/register", method="POST">
    <div>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname", name="firstname" required>

        <label for="lastname">Last Name</label>
        <input type="text" id="lastname", name="lastname" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email", name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password", name="password" required>
    </div>
    <div>
        <label for="mobilenum">Mobile Number</label>
        <input type="text" id="mobilenum", name="mobilenum" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>